.about-section {
  padding: 80px 0;
}

.about-block {
  padding: 20px 30px;
}

.section-subtitle {
  display: block;
  color: #d26a2e;
  letter-spacing: 0.3em;
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: #333;
  margin-bottom: 20px;
}

.about-block p {
  color: #555;
  font-size: 16px;
  line-height: 1.7;
  margin-bottom: 25px;
}

.about-list {
  list-style: none;
  padding: 0;
  margin-bottom: 25px;
}

.about-list li {
  color: #444;
  font-size: 15px;
  margin-bottom: 8px;
}

.about-image {
  width: 100%;
  border-radius: 12px;
  margin-top: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}
.why-us{
  margin-top: 170px;
}
.about-image:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .about-section {
    text-align: center;
  }

  .about-image {
    margin: 20px auto;
  }

}
