  <form  [formGroup]="LogingGroupForm" (submit)="onSubmit()" class="form">
    <h1>Sign up</h1>
    <input formControlName="firstname"  class="input firstNameInput"  type="text" placeholder="enter your first name">
    <input formControlName="lastname" class="input lastNameInput" type="text" placeholder="enter your last name">
    <input formControlName="email"  class="input EmailInput" type="email" placeholder="enter your email">
    <input type="number" formControlName="age"  class="input AgeInput"  placeholder="enter your age">
    <input formControlName="password"   class="input passwordInput" type="password" placeholder="enter your password">
    <input formControlName="confirmPassword"  class="input confirmPasswordInput" type="password" placeholder="confirm your password">
    <a routerLink="/sign-in">sign in</a>
    <button class="formbtn" type="submit">submit</button>

  </form>
