
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 20px;

}
.input{
    margin-bottom: 6px;
    padding: 7px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 16px;
}
.formbtn{
  background-color: #49d0bd;
  border: 0px ;
  border-radius: 25px;
  color: white;
  width: 60%;

}
