.product-grid{
  display:grid;
  grid-template-columns:repeat(3,1fr);
  gap:30px;
  position:relative;
  padding:30px;
  justify-items: center;
}
.product-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 10px;
  position: relative;
  width: 80%; /* optional fixed width */
  border-radius: 8px;
}

.product-item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.product-name {
  font-size: 20px;
  font-weight: bold;
  margin: 5px 0;
}

.product-price {
  font-size: 18px;
  color: green;
  margin-bottom: 10px;
}
.bottom-card{
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  width: 100%;
}
.add-to-cart {
  background-color: #029fae;
  color: white;
  display: flex;
  border: none;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
  height: 80%;
  width: 20%;
  justify-content: center;
  align-items: center;
}
.add-to-cart i{
  font-size: 15px;
}
.add-to-cart p{
  margin:0;
  padding:0;
  font-size:12px;
}
.favorite-btn {
  background: none;
  color: red;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 50%;
}
.featured-products {
  text-align: center;
  overflow: hidden;
}

.carousel-wrapper {
  overflow: hidden;
  width: 100%;
}

.carousel {
  display: flex;
  transition: transform 0.5s ease; /* 👈 smooth slide */
  width: 100%;
}

.product-card {
  flex: 0 0 calc(100% / 4); /* 4 per view */
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
}
.product-grid-best20{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:18px;
  position:relative;

  padding: 0;
  justify-items: center;
}
.product-item-best20{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0;
  position: relative;
  width: 90%;
  height: 300px;
  border-radius: 8px;
}
.product-item-best20 p{
  font-size: 10px;
}
.product-item-best20 .bottom-card{
  height: 15%;
  margin-bottom:5px ;
  align-items: center;
}
.best20div .product-item img {
  width: 100%;
  height: 75%!important;

}
.price-title{
  height: 100%;
}
.product-item-best20 .product-name{
  height: 35%;
}
.product-price-best20 {
  font-size: 10px;
  color: #029fae;
  margin:0;
}
.main-img-container{
  display: flex;
  justify-content: center;
}
