<div class="product-grid">
@for (product of productlist() | filterPipe:searchText; track $index) {
  <div  class="product-item" [attr.data-product-id]="product.id">
    <img (click)="NavigatTosingleProduct(product.id)" [src]="product.images[0]?product.images[0]:imageurl" alt="Product Image">
    <button class="favorite-btn">♥</button>
    <p (click)="NavigatTosingleProduct(product.id)"  class="product-name">{{product.title}}</p>
    <span class="product-price">${{ product.price }}</span>
    <button (click)="addToCart(product)" class="add-to-cart"><p>Add to Cart</p></button>
  </div>
}
</div>
